select.col.form-control{
    width:180px;
}

img#matchPic {
    width:100%;
}
#userPic {
    display: relative;
}
#userName {
    display: inline;
    position: absolute;

    overflow: clear;
    margin-left:15px;
    font-size: 18px;
    font-weight: bold;
}